In [2]:
import pandas as pd

In [3]:
user_data = {
	"client_id": 24068,
	"age": 32,
	"region": "Москва",
	"gender": 2,
	"job": None,
	"organization": "ЦИРК",
	"income": 40000,
	"marital_status": "Женат / замужем",
	"ip_flag": False,
	"sme_flag": False,
	"employee_flag": False,
	"refugee_flag": False,
	"pdn": 0.5,
}

In [5]:
pd.DataFrame([user_data])

,client_id,age,region,gender,job,organization,income,marital_status,ip_flag,sme_flag,employee_flag,refugee_flag,pdn
0,24068,32,Москва,2,None,ЦИРК,40000,Женат / замужем,False,False,False,False,0.5